<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.contactninja"
    tools:ignore="LockedOrientationActivity,UnusedAttribute,ScopedStorage,IntentFilterExportedReceiver,UnprotectedSMSBroadcastReceiver,BatteryLife">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".Utils.Global"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContactNinja"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Setting.Zoom_verification"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Setting.ZoomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main_Broadcast.List_And_show.Broadcaste_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main_Broadcast.Recuring_email_broadcast_activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main_Broadcast.Text_And_Email_Auto_Manual_Broadcast"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main_Broadcast.List_And_show.List_Broadcast_activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddContect.Add_Company_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.Manual_Shooz_Time_Date_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.Manual_Auto_Task_Name_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".Manual_email_text.Text_And_Email_Auto_Manual"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.List_And_show.Item_List_Text_Detail_Activty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.Manual_Text_TaskActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.Manual_Text_Send_Activty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.List_And_show.Item_List_Email_Detail_activty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.Manual_Text_Contact_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.Manual_Email_TaskActivity_"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.Email_Tankyou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.Manual_Email_Send_Activty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.Manual_Email_Contect_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual_email_text.List_And_show.unused_List_Manual_Activty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notification.Notification_task_acceptActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notification.NotificationListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campaign.List_itm.Campaign_view_per_contect_Detail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserPofile.Affiliate_Report_LavelActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campaign.List_itm.Campaign_Viewcontect"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campaign.List_itm.Campaign_Final_Start"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campaign.Campaign_Preview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.EmailListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.Email_verification"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddContect.EmailSend_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campaign.Campaign_Name_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campaign.ContectAndGroup_Actvity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campaign.Add_Camp_Email_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campaign.Campaign_Overview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campaign.Add_Camp_Text_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.WebActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campaign.List_itm.Campaign_List_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Campaign.Add_Camp_Tab_Select_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.CurrentPlanActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.TemplateCreateActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Setting.TemplateActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.ResetActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.SettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Auth.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main_Broadcast.Brodcsast_Tankyou"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Group.SendBroadcast"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Group.Final_Group"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Group.GroupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddContect.Addnewcontect_Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Auth.Phone_email_verificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Auth.SignupActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,MissingPrefix" />
        <activity
            android:name=".Auth.VerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity,MissingPrefix" />
        <activity
            android:name=".Auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Auth.PlanTyep.Plan_Detail_Screen"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Auth.PlanTyep.PlanType_Screen"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Auth.Thankyou_Screen"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main_Broadcast.Broadcast_Contact_Selction_Actvity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main_Broadcast.Add_Broad_Email_Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main_Broadcast.Add_Broad_Text_Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main_Broadcast.Broadcast_Name_Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main_Broadcast.Broadcast_Preview"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Auth.AppIntroActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Auth.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
  <activity
            android:name=".Contect_Demo"
            android:exported="true"
            android:screenOrientation="portrait" />
        -->
        <receiver android:name=".Utils.OTP_Receiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Utils.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.contactninja"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>